@page
@model GuidelinesModel
@{
    ViewData["Title"] = "DeerPost Community Guidelines";
}
<h1>@ViewData["Title"]</h1>

<p>The goal of DeerPost is to connect EMF participants through physical mail, via SneakerNet, 
    by exchanging postcards with random members within the event.</p>

<p>This page is here to help you understand what DeerPost aims to be, and how can you be part 
    of it. Please follow these guidelines to better enjoy DeerPost. DeerPost runs within EMF, so
    it is subject to the same <a href="https://www.emfcamp.org/code-of-conduct">Code of Conduct</a>.</p>

<h2>When Sending Postcards</h2>

<dl>
    <dt>Send you postcards</dt>
    <dd>WIwiwi</dd>
    <dt>Don't forget the basics: asdasd</dt>
    <dd>asdasd</dd>
    <dt>Keep it a surprise</dt>
    <dd>asdasdasd</dd>
</dl>

<h2>When Receiving Postcards</h2>

<dl>
    <dt>Your address is important</dt>
    <dd>asdasdasdsda</dd>
    <dt>All postcards must be registered</dt>
    <dd>asdadssad</dd>
    <dt>Register postcards on arrival</dt>
    <dd>asdasdasd</dd>
</dl>

<h2>About SneakerNet</h2>

<dl>
    <dt>Be respectful of postcards written by others</dt>
    <dd>asdasd</dd>
    <dt>Postal services are not always perfect</dt>
    <dd>asdasd</dd>
    <dt>Addresses in EMF are hard!</dt>
    <dd>asdasds</dd>
</dl>

<h2>On using your account</h2>

<dl>
    <dt>Be friendly</dt>
    <dd>asdasd</dd>
    <dt>Use your profile to write about yourself</dt>
    <dd>asdasdasd</dd>
    <dt>You are responsible for your account</dt>
    <dd>asdasdsad</dd>
    <dt>You're older than 13, or have permission</dt>
    <dd>asdasds</dd>
    <dt>Keep private information private</dt>
    <dd>asdasdsa</dd>
    <dt>Leaving EMF? Set your account to inactive</dt>
    <dd>asdasdsad</dd>
</dl>

We hope these guidelines will help you to makje the best out of DeerPost.