@page
@model GuidelinesModel
@{
    ViewData["Title"] = "DeerPost Community Guidelines";
}
<h1>@ViewData["Title"]</h1>

<p>The goal of DeerPost is to connect EMF participants through physical mail, via SneakerNet, 
    by exchanging postcards with random members within the event.</p>

<p>This page is here to help you understand what DeerPost aims to be, and how can you be part 
    of it. Please follow these guidelines to better enjoy DeerPost. DeerPost runs within EMF, so
    it is subject to the same <a href="https://www.emfcamp.org/code-of-conduct">Code of Conduct</a>.</p>

<h2>When Sending Postcards</h2>

<dl>
    <dt>Send your postcards</dt>
    <dd>Always send a postcard to each address you get from DeerPost. Each recipient has sent a postcard, so they'd be happy to receive their own. Send them as soon as you can.</dd>
    <dt>Don't forget the basics: Postcard ID and address</dt>
    <dd>Please write the postcard ID and the address clearly and exactly as given by DeerPost. Do also include a message to the recipient, help yourself with their profile text to write something.</dd>
    <dt>Keep it a surprise</dt>
    <dd>EMF is after all a small place, you might bump with the user you've a postcard to. Let them receive the postcard and register it.</dd>
</dl>

<h2>When Receiving Postcards</h2>

<dl>
    <dt>Your address is important</dt>
    <dd>The address is handled by SneakerNet, and they're usually very good at resolving the addresses. Still, help them help you by giving clear instructions.</dd>
    <dt>All postcards must be registered</dt>
    <dd>All of them, event if you don't like the postcard very much. If you're having an issue with registering the postcard ID, <a asp-page="/Postcard/SenderUnknown">DeerPost can help you</a>. If you have received a postcard or a message that goes against EMF Code of Conduct, or that in general you feel it is not suitable, you can go to their user profile and click Report profile, which sends an email to the caretaker. If this is not enough, please email <a href="mailto:@Model.CaretakerEmail">@Model.CaretakerEmail</a>.</dd>
    <dt>Register postcards on arrival</dt>
    <dd>Please register postcards as soon as you received them, as the sender will only receive new postcards once the ones they've sent are registered.</dd>
</dl>

<h2>About SneakerNet</h2>

<dl>
    <dt>Be respectful of postcards written by others</dt>
    <dd>Don't re-use/recycle already used postcards to send in DeerPost.</dd>
    <dt>Postal services are not always perfect</dt>
    <dd>Your postcard could be damaged or lost on its way. In case it's lost, we cannot help, but the postcards expire after a few hours, so you can send more.</dd>
    <dt>Addresses in EMF are hard!</dt>
    <dd>They're kind of experimental, since we're talking about tents after all. Be kind to SneakerNet, they do an awesome job.</dd>
</dl>

<h2>On using your account</h2>

<dl>
    <dt>Be friendly</dt>
    <dd>Writing to someone you don't know can be awkward for some. It might be possible that English is not their first language. Honour their writing, and be as charitable as possible in its interpretation.</dd>
    <dt>Use your profile to write about yourself</dt>
    <dd>This is the best place to learn about you, so mention something you like from EMF, or something you like in general. You don't have to write extensively, just enough to get a conversation started.</dd>
    <dt>You are responsible for your account</dt>
    <dd>Please only use your account personally. Don't use it to advertise a business. Also, please do not create multiple accounts.</dd>
    <dt>You're older than 13, or have permission</dt>
    <dd>If you are under 13 years, please have your parent or legal guardian supervise you, and get consent from them to use DeerPost. Postcards are a wonderful hobby, but we still believe that as online service, it should be closely monitored by an adult.</dd>
    <dt>Keep private information private</dt>
    <dd>The addresses you are given are private information and should only be used to write them on the postcard you send. Do not share them outside of that, nor collect them nor make them public. This also applies to the message. Postcard messages are only intended for you. Feel free to share the front of the postcard if you like it.</dd>
    <dt>Leaving EMF? Set your account to inactive</dt>
    <dd>Setting your account to inactive will prevent DeerPost from giving your address to others, and thus to receive more postcards. Thank you for doing this.</dd>
</dl>

We hope these guidelines will help you to make the best out of DeerPost. These guidelines are heavily based on <a href="https://www.postcrossing.com/about/guidelines">Postcrossing guidelines</a>, adapted to the much smaller scale of EMF. Have fun with postcards!