export GITHUB_SSH_PRIVATE_KEY_PATH=/local/path/to/ssh/key
export GITHUB_REPO=git@github.com:chiguire/cPCX.git
export CERTBOT_EMAIL=certbotemail@example.com
export DOMAIN_APEX=www.domain.tld
export DOMAIN_CPCX=subdomain.domain.tld
export ALLOWED_CIDRS=
export POSTGRES_DB=
export POSTGRES_USER=
export POSTGRES_DATA_PATH=/path/to/postgres/db/volume
export COMPOSE_FILE=docker-compose.yml
export SMTP_HOST=
export SMTP_USERNAME=
export SMTP_PASSWORD=
export CARETAKER_EMAIL=webmaster@example.com