@using cpcx.Entities

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - cPCX</title>
    <script src="~/js/theme.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/cpcx.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">cPCX</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark icon-link" asp-area="" asp-page="/Index"><i class="bx bx-home-alt-2"></i> Home</a>
                        </li>
                        <li asp-authorize class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle icon-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bx bx-book-content" ></i> Postcards
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item icon-link" asp-area="" asp-page="/Postcard/Send"><i class="bx bx-export" ></i> Send a Postcard</a></li>
                                <li><a class="dropdown-item icon-link" asp-area="" asp-page="/Postcard/Register"><i class="bx bx-import" ></i> Register a Postcard</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item icon-link" asp-area="" asp-page="/Postcard/Travelling"><i class="bx bxs-plane-alt" ></i> Travelling Postcards</a></li>
                            </ul>
                        </li>
                        <li asp-authorize class="nav-item">
                            <a class="nav-link text-dark icon-link" asp-area="" asp-page="/Event/Index" asp-route-eventPublicId="EMF26"><i class="bx bx-map-pin"></i> EMF</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark icon-link" asp-area="" asp-page="/Guidelines"><i class="bx bx-group" ></i> Community Guidelines</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024-@DateTime.UtcNow.Year - cpcx - <a asp-area="" asp-page="/Guidelines">Community Guidelines</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>