@page
@model cpcx.Pages.Postcard.Register
@{
    ViewData["Title"] = "Register a Postcard";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <partial name="_StatusMessage" model="Model.StatusMessage" />
    
    <p>If you have received a postcard, register it here!</p>

    <form method="post">
        <div>
            <label for="PostcardId">Postcard ID:</label> <select asp-for="EventId" asp-items="@Model.EventPublicIds"></select> - <input asp-for="PostcardId" pattern="[0-9]+" />
        </div>
        <div>
            <input type="submit" value="Register Postcard" />
        </div>
    </form>

</div>